*.pyc
*.map
*.dblite
*.elf
*.bin
*.hex
*.axf
*.exe
*.pdb
*.idb
*.ilk
*.rar
*.iex
*.tmp
build
Debug
documentation/html
*~
*.o
*.obj
*.bak
*.dep
*.lib
*.a
*.i
*.d
resource
DebugConfig
*.htm
*.uvguix.*
*.pdf
output
*.txt
limage
*.bak
no_rtt
xtool
*.pack
*.user
*-build-desktop